
#flights-table{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-top: 20px;

}

th{
    min-width:100px;
    background-color: #4c4b48;
    color: white;
}

#flights-table tr:nth-child(even){
    background-color: #f2f2f2;
}


input[type=submit]{
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    background-color: #00628b;
    color: white;

}

.hidden{
    visibility: hidden;
    height: 0px;
}